<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../views/css/estilo.css" rel="stylesheet">
</head>

<body>
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="./recursos/img/icon_logo_cuevas.png" alt="logo" width="40" height="34" class="d-inline-block align-text-top"> Abarrotes
            </a>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="productos" class="nav-link" aria-current="page" href="">Gestionar Productos</a>
                    </li>
                    <li class="nav-item">
                        <a id="gestionUsuarios" class="nav-link" aria-current="page" href=""> Gestionar usuarios</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-1 mb-2 mb-lg-0 justify-content-end">
                    <li class="nav-item ">
                        <p class="text-muted mt-2 me-2" id="nombreCompleto">
                        </p>
                    </li>
                    <li class="nav-item ">
                        <button type="button" class="btn btn-danger" onclick="cerrarSesion()">Salir</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">

        <div class="row mt-1">
            <div class="input-group mb-3">
                <select class="form-select form-select-sm me-2" id="selectorcategoria" onchange="mostrarProductoCategoria(this.value)">
              </select>
                <select class="form-select form-select-sm me-2" id="selectorprecio" onchange="ordenarPorPrecio(this.value)">
                <option value="-1" hidden>Precio</option>
                <option value="1">Más Alto</option>
                <option value="0">Más Bajo</option>
              </select>
                <select class="form-select form-select-sm me-2" id="selectorcantidad" onchange="ordenarPorCantidad(this.value)">
                <option value="-1" hidden>Stock</option>
                <option value="1">Stock Alto</option>
                <option value="0">Stock Bajo</option>
              </select>
                <select class="form-select form-select-sm me-2" id="selectorestatus" onchange="ordenarPorEstatus(this.value)">
                <option value="-1" hidden>Estatus</option>
                <option value="1">Disponible</option>
                <option value="0">Agotado</option>
              </select>
                <input id="txtBuscarProducto" class="form-control" oninput="buscadorVacio()" type="search" placeholder="Desea buscar ...">
                <button class="btn btn-outline-success btn-sm" type="button" onclick="buscarProducto()">Buscar</button>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button id="btnRegistrarNuevoProducto" type="button" class="ms-3 btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nuevoProducto" onclick="resetearModal()"> Producto Nuevo </button>
        </div>

        <!-- Se muestra mensaje de error -->
        <div class="mb-3" id="mosntrarMensaje">
        </div>

        <hr>

        <table class="table" id="tablaProductos">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Estatus</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <!-- Modal registrar producto nuevo-->
    <div class="modal fade" id="nuevoProducto" tabindex="-1" aria-labelledby="nuevoProductoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="txtTituloModal" class="modal-title">Registrar Producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="formularioRegistrarProducto" onsubmit="return registrarProducto(event)">

                        <div class="mb-3 visually-hidden">
                            <input type="number" class="form-control form-control-sm" id="txtIdProducto">
                        </div>

                        <div class="mb-3">
                            <div class="text-center">
                                <img id="imageProductoVista" class="visually-hidden" style="width: 150px;" alt="Imagen No Encontrada">
                            </div>
                        </div>

                        <div class="mb-1">
                            <input class="form-control form-control-sm" id="txtImagenProducto" type="file" accept="image/*" onchange="visualizarImagen()">
                        </div>

                        <div class="alert alert-info" style="max-height:min-content; padding:0px; margin: 0px;" role="alert">
                            <span style="font-size:smaller;">
                    Las imagenes deben tener una dimensión de 600px * 400px. 
                  </span>
                        </div>

                        <div class="my-3">
                            <label for="txtProducto" class="form-label">Producto</label>
                            <input type="text" class="form-control form-control-sm" id="txtProducto" required>
                        </div>

                        <div class="mb-3">
                            <label for="txtPrecio" class="form-label">Precio</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control form-control-sm" id="txtPrecio" step="0.01" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="txtCantidad" class="form-label">Cantidad</label>
                            <input type="number" class="form-control form-control-sm" id="txtCantidad" step="1" required>
                        </div>

                        <div class="mb-3">
                            <label for="selectCategoria" class="form-label">Categoria</label>
                            <select class="form-select form-select-sm" id="selectCategoria" required>
                  </select>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" id="btnCancelar" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetearModal()">Cancelar</button>
                            <input type="submit" id="btnRegistraProducto" value="Registrar" class="btn btn-success mt-2" />
                            <button id="btnModificarProducto" data-bs-target="#confirmacion" type="button" class="btn btn-primary visually-hidden" onclick="guardarProductoModificado()">Actualizar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Solicitar confirmacion para eliminar o modificar -->
    <!-- Button trigger modal -->
    <button id="btnSolicitarConfirmacion" type="button" class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#confirmacion">
  confirmacion
</button>
    <!-- Modal -->
    <div class="modal fade" id="confirmacion" tabindex="-1" aria-labelledby="confirmacionLabel" aria-hidden="true">
        <div class="modal-dialog alert alert-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmacionLabel">Confirmar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="confirmacionBody" class="modal-body text-center">
                </div>
                <div class="modal-footer">
                    <button id="btnCerrarModalConfirmacion" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button id="btnEliminarProducto" type="button" class="btn btn-primary btn-sm"></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../midleware/productos_Administrador.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>