<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="css/estilo.css" rel="stylesheet">
    <script type="text/javascript" src="logica/registrarUsuario.js"></script>
</head>
  <body>
      <div class="container my-5 py-3 col-md-5 shadow p-3 mb-5 bg-body rounde rounded border border-4" style="background-color: white;">
          <h1 class="titulo">Registro</h1>
          <form onsubmit="return registrar(event)">
            <div class="mb-3 mt-4">
                <label for="txt_nombre" class="lb_nombre">Nombre completo: </label>
                <input type="text" class="form-control" id="txt_nombre" placeholder="Ingrese su nombre completo" required>
              </div>
              <div class="mb-3">
                <label for="txt_telefono" class="lb_telefono">Número de teléfono: </label>
                <input type="number" class="form-control" id="txt_telefono" placeholder="2282393962" required></input>
              </div>
              <div class="mb-3">
                <label for="txt_correo" class="lb_correo">Dirección de correo:</label>
                <input type="email" class="form-control" id="txt_correo" placeholder="example@gmail.com" required></input>
              </div>
              <div class="mb-3">
                <label for="txt_contraseña" class="lb_contraseña">Contraseña: </label>
                <input type="password" class="form-control" id="txt_contraseña" required></input>
              </div>
              <div class="d-grid gap-2">
                <input type="submit"  value="Registrar"class="btn btn-success mt-2" />
                <button class="btn btn-secondary" onclick="cancelar()">Cancelar</button>
              </div>
              <div class="text-center mt-4">
                      <span>Ya tengo cuenta <a href="index.html">Iniciar Sesión</a></span>
                      <br>
                    </div>
          </form>
      </div>     
  </body>
  </html>